<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="./style/dashboard.css">
    <link rel="stylesheet" href="./style/color.css">
    <link rel="stylesheet" href="./style/pie.css">
</head>

<body class="bg-dark text-light">
    <div class="container">
        <aside class="sidebar bg-primary">
            <div class="logo">
                <h2>Manage Business</h2>
            </div>
            <nav class="nav">
                <ul>
                    <li class="option-icon">
                        <i><img src="./imgs/four-squares-icon.svg" alt=""></i>
                        <a href="/dashboard" class="active text-light">Dashboard</a>
                    </li class="option-icon">
                    <li class="option-icon opacity50">
                        <i><img src="./imgs/young-businessman-icon.svg" alt=""></i>
                        <a href="/party" class="text-light2">Parties</a>
                    </li>
                    <li class="option-icon opacity50">
                        <i><img src="./imgs/qr-code-scan-icon.svg" alt=""></i>
                        <a href="/barcode" class="text-light2">BarCode</a>
                    </li>
                    <li class="option-icon opacity50">
                        <i><img src="./imgs/group-icon.svg" alt=""></i>
                        <a href="/users" class="text-light2">Display users and verify</a>
                    </li>
                    <li class="option-icon opacity50">
                        <i><img src="./imgs/profile-protection-icon.svg" alt=""></i>
                        <a href="/activity" class="text-light2">Resent Login</a>
                    </li>
                </ul>
            </nav>
        </aside>

        <main class="main-content">
            <div class="profile"></div>
            <header class="header">
                <h1>Dashboard</h1>
                <div class="insight-analyzer bg-light">
                    <h3 class="text-dark">Insight Analyzer</h3>
                    <p class="text-secondary">Stay updated with insight analyzer</p>
                </div>
            </header>

            <!-- Stats Section -->
            <section class="stats">
                <div class="stat-box bg-info text-dark">
                    <h4>Clients</h4>
                    <p>
                        <%= partys %>
                    </p>
                </div>
                <div class="stat-box bg-success">
                    <h4>Delivered</h4>
                    <p>
                        <%= delivered %>
                    </p>
                </div>
                <div class="stat-box bg-warning text-dark">
                    <h4>Pending</h4>
                    <p>
                        <%= pending %>
                    </p>
                </div>
                <div class="stat-box bg-danger">
                    <h4>Draft</h4>
                    <p>
                        <%= draft %>
                    </p>
                </div>
            </section>
            <% if(draft> 0 || pending > 0){ %>
                <div class="bg-light" style="display: inline-block; padding: 20px; border-radius: 5px;">

                    <div class="donut-chart"
                        style="background: conic-gradient(#dc3545 0% <%= (draft / (pending + draft))*100 %>%, #ffc107 <%= (draft / (pending + draft))*100 %>% 100%);">
                        <div class="pie">
                            <div class="slice"></div>
                        </div>
                    </div>

                    <div class="display-v-center">
                        <span style="margin: 15px 10px  0px 10px;">
                            <span class="icon-typo bg-danger"></span>
                            <span class="text-dark">Draft <span class="text-danger">
                                    <%= ((draft / (pending + draft)) * 100).toFixed(2) %>%
                                </span></span>
                        </span>
                        <span style="margin: 15px 10px  0px 10px;">
                            <span class="icon-typo bg-warning"></span>
                            <span class="text-dark">Pending <span class="text-warning">
                                    <%= ((pending / (pending + draft))*100).toFixed(2) %>%
                                </span></span>
                        </span>
                    </div>
                </div>
            <% } else {%>
                <h1 class="text-light">No Sufficient data</h1>
            <% } %>

        </main>
    </div>
</body>

</html>